{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <article>
        <header class="mb-5">
            <h1 class="h1">Register</h1>
        </header>

        <div class="row">
            <div class="col-5">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </article>
{% endblock %}
