<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
        </ul>
        <ul class="nav">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link link-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-square"></i>&nbsp;{{ app.user.email }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_account') }}">Account</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_change_password') }}">Change Password</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_auth_logout') }}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_auth_login') }}" class="nav-link link-dark px-2">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_auth_signup') }}" class="nav-link link-dark px-2">Sign up</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>